/* public/css/sidebar.css */
@import url('createPost.css');
@import url('listAllUsers.css');
@import url('login.css');
@import url('sidebar.css');
@import url('signIn.css');
@import url('welcome.css');
@import url('allPosts.css');
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0; /* Cor de fundo para o corpo da aplicação */
}

.navbar-link{
  color: #fff;
  text-decoration: none;
  padding: 5px;
  margin-left: 50px;

}



.profile-pic {
  width: 40px; /* Tamanho do mini círculo */
  height: 40px; /* Tamanho do mini círculo */
  border-radius: 50%; /* Torna a imagem redonda */
  object-fit: cover; /* Ajusta a imagem para preencher o círculo sem distorção */
  border: 2px solid #fff; /* Borda branca para destacar a imagem */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra suave para destacar */
  margin-right: 30px;
}

#menu {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  background-color: #1A202C; /* Cor de fundo para o menu onde está o ícone do menu hamburguer */
}

a{
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;  /* Ajuste conforme necessário */
  background-color:var(--vermelho);  /* Cor de fundo da sidebar */
  z-index: 1000;
  padding-top: 60px;  /* Para garantir que o conteúdo não sobreponha o cabeçalho */
}

/* Adicionando um espaçamento ao conteúdo principal para não ficar por trás da sidebar */
body {
  margin-left: 250px;  /* Ajuste para corresponder à largura da sidebar */
}

/* Estilo da barra de pesquisa dentro da sidebar */
#searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; 
  transition: width 0.3s ease;
}

#searchInput:focus {
  width: 250px; 
}

@media (max-width: 768px) {
  .sidebar {
      width: 200px;  /* Reduz a largura da sidebar em telas pequenas */
  }

  body {
      margin-left: 200px;  /* Ajuste para corresponder à nova largura da sidebar */
  }
}

/* Estilo base para o Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d41c1c;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.header .search-bar {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
  max-width: 100%;
  margin: 0 auto; 
}

.header .user-actions {
  display: flex;
  align-items: center;
}

.header .user-actions a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  /* Reduzindo a largura da barra de pesquisa */
  .header .search-bar {
      width: 80%; /* Ou ajuste para outro valor que você achar melhor */
      margin: 0 auto;
  }

  /* Reorganizando os elementos para empilhar na vertical */
  .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
  }

  /* Colocando os links de "Meu Perfil" e "Sair" em linha única com espaço adequado */
  .header .user-actions {
      margin-top: 10px;
      flex-direction: column;
      align-items: flex-start;
  }

  /* Ajuste no margin dos links */
  .header .user-actions a {
      margin-left: 0;
      margin-top: 5px;
  }

  /* Opcionalmente, ajustar o tamanho da fonte para telas menores */
  .header .user-actions a {
      font-size: 0.9rem;
  }


}