.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-form {
    margin-top: 20px;
}

.profile-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img-container img {
    width: 150px;  /* Tamanho da imagem */
    height: 150px;
    object-fit: cover;
    border-radius: 50%;  /* Imagem redonda */
    border: 2px solid #ddd;  /* Borda suave */
}

.profile-img-container label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.btn-edit, .btn-danger, .btn-cancel {
    margin-top: 20px;
}

h2.text-center {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.alert {
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"], .btn-danger, .btn-cancel {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover, .btn-danger:hover, .btn-cancel:hover {
    opacity: 0.8;
}
